<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        body {
            width: 100%;
            font-family: PingFangSC-Regular, Helvetica, Arial, Microsoft Yahei, sans-serif !important;
        }

        .no-left-border {
            border-left: 0 !important;
        }

        table td {
            vertical-align: middle !important;
            text-align: center;
            font-size: 20px;
            font-weight: bolder;
            color: #ffffff;
        }

        .head-title {
            font-size: 20px;
        }
    </style>
</head>
<section class="tile color transparent-black">

    <!-- tile body -->
    <div class="tile-body">
        <div id="myCarouselScore" class="carousel slide" style="width: 100%;" data-ride="carousel">
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner" style="margin-top: 30px;">
                <div class="item" th:class="'item '+${dStat.index == 0 ? ' active':''}" th:each="d,dStat : ${resultData}">
                    <div class="screen-item" style="display: flex;">
                        <table class="table table-bordered label-table"
                               style="border-right: 1px solid rgba(255, 255, 255, 0.1); margin-bottom:20px; margin-right: 10px;">
                            <tr>
                                <td class="head-title" colspan="13" th:text="${matchName}+' —— 第'+${turnNumberName}+'轮成绩单'"></td>
                            </tr>
                            <tr>
                                <td th:each="title:${setting.showColumn}" th:text="${title.valA}">名次</td>
                            </tr>

                            <tr th:each="result:${d.mainList }">
                                <td th:each="item:${result}" th:text="${item.valB}"></td>
                            </tr>
                        </table>

                        <table class="table table-bordered label-table"
                               style="border-right: 1px solid rgba(255, 255, 255, 0.1); margin-bottom:20px;">
                            <tr>
                                <td class="head-title" colspan="13" th:text="${matchName}+' —— 第'+${turnNumberName}+'轮成绩单'"></td>
                            </tr>
                            <tr>
                                <td th:each="title:${setting.showColumn}" th:text="${title.valA}">名次</td>
                            </tr>

                            <tr th:each="result:${d.subList }">
                                <td th:each="item:${result}" th:text="${item.valB}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#myCarouselScore" th:each="d,dStat : ${resultData}" th:data-slide-to="${dStat.index}"
                    th:class="${dStat.index == 0 ? ' active':''}"></li>
            </ol>
        </div>
        <div style="text-align:center;">
            <button type="button" th:data-turn="${turnNumber}" id="editScore" class="btn btn-green margin-bottom-20">修改本轮成绩</button>
        </div>
    </div>
    <!-- /tile body -->
</section>
<script th:inline="javascript">
    /* <![CDATA[ */

    $(function () {
        $('#myCarouselScore').carousel({
            interval: [[${interval}]]
        });
    });
    /* ]]> */
</script>
</html>