<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        body {
            width: 100%;
            font-family: PingFangSC-Regular, Helvetica, Arial, Microsoft Yahei, sans-serif !important;
        }

        .no-left-border{
            border-left: 0 !important;
        }

        table td{
            vertical-align: middle !important;
            text-align: center;
            font-size: 16px;
        }

        .head-title{
            font-size: 20px;
        }
    </style>
</head>
<section class="tile color transparent-black">

    <!-- tile body -->
    <div class="tile-body">
        <table class="table table-bordered" class="label-table" style="border-right: 1px solid rgba(255, 255, 255, 0.1); margin-bottom:20px;">
            <tr>
                <td class="head-title" colspan="7">跳跳掼蛋线下赛 —— 第一轮成绩单</td>
            </tr>

            <tr>
                <td valign="middle" rowspan="2">名次</td>
                <td colspan="4">选手信息</td>
                <td colspan="2">成绩</td>
            </tr>

            <tr>
                <td>编号</td>
                <td>选手姓名</td>
                <td>选手姓名</td>
                <td>桌号</td>
                <td>级数</td>
                <td>级差</td>
            </tr>


            <tr>
                <td>第1名</td>
                <td>20</td>
                <td>刘卓</td>
                <td>张晓明</td>
                <td>1</td>
                <td>A+</td>
                <td>6</td>
            </tr>

            <tr>
                <td>第2名</td>
                <td>21</td>
                <td>张三</td>
                <td>李四</td>
                <td>1</td>
                <td>K</td>
                <td>3</td>
            </tr>
        </table>

    </div>
    <!-- /tile body -->
</section>
<script>
    $(function () {

    });
</script>
</html>