<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{${#httpServletRequest.getContextPath()} + '/css/reset.css'}"/>
    <link rel="stylesheet" type="text/css" th:href="@{${#httpServletRequest.getContextPath()} + '/css/main.css'}"/>

    <script type="text/javascript" th:src="@{${#httpServletRequest.getContextPath()} + '/js/jquery.min.js'}"></script>
    <script type="text/javascript" th:src="@{${#httpServletRequest.getContextPath()} + '/js/base.js'}"></script>
    <!--弹窗start-->
    <link rel="Stylesheet" type="text/css" th:href="@{${#httpServletRequest.getContextPath()} + '/css/DialogBySHF.css'}" />
    <link rel="stylesheet" type="text/css" th:href="@{${#httpServletRequest.getContextPath()} + '/css/dialog-back.css'}"/>
    <script type="text/javascript" th:src="@{${#httpServletRequest.getContextPath()} + '/js/dialog-min.js'}"></script>
    <script type="text/javascript" th:src="@{${#httpServletRequest.getContextPath()} + '/js/sea.js'}"></script>
    <script type="text/javascript" th:src="@{${#httpServletRequest.getContextPath()} + '/js/DialogBySHF.js'}"></script>
    <!--弹窗end-->
</head>
</html>