<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>列表页</title>
    <!--通用页面-->
    <div th:replace="admin/common/commonPage :: html"></div>
    <!--分页插件start-->
    <link rel="stylesheet" type="text/css" th:href="@{${#httpServletRequest.getContextPath()} + '/css/page.css'}"/>
    <script type="text/javascript" th:src="@{${#httpServletRequest.getContextPath()} + '/js/page.min.js'}"></script>
    <!--分页插件end-->
    <script th:inline="javascript">
        ctxPath = /*[[@{/}]]*/ '';

        $(function () {
            //调用下拉列表js
            selectModel();

            //分页插件初始化
            kkpager.generPageHtml({
                pno: [[${page.page}]],
                total: [[${page.countPage}]],
                totalRecords: [[${page.total}]],
                mode: 'click',//默认值是link，可选link或者click
                click: function (n) {
                    this.selectPage(n);
                    $("#page").val(n);
                    formSub('#form');
                    return false;
                }
            });

            infoTitle = $("#infoTitle").val();
            if (infoTitle == "输入标题名称") {
                infoTitle = "";
            }
            infotype = $("#infotype").val();
            infoStatus = $("#infoStatus").val();
            infoType = $("#infoType").val();

        });

        //搜索
        function formSub(formName) {
            var infoTitle = $('#infoTitle').val();
            if (infoTitle != undefined && infoTitle == '输入标题名称') {
                $('#infoTitle').val("");
            }
            $(formName).submit();
        }

        //审核通过+不通过
        function changeMatchStatus(status, id, title) {
            if (status == "1") {
                var msg = "审核通过成功！";
                var html = "您确定要审核通过“" + title + "”吗？";
                var error = "审核通过失败！";
            }
            if (status == "2") {
                var msg = "审核不通过成功！";
                var html = "您确定要审核不通过“" + title + "”吗？";
                var error = "审核不通过失败！";
            }
            dialogConfirm("提示", html, function () {
                $.post("/match/update", {
                    "id": id,
                    "statue": status
                }, function (data) {
                    if (data != null && data.success) {
                        dialogAlert("提示", msg, function () {
                            formSub('#form');
                        });
                    } else if (data.msg == "nologin") {
                        dialogConfirm("提示", "请先登录！", function () {
                            window.location.href = "/login";
                        });
                    } else {
                        dialogConfirm("提示", data.msg);
                    }
                });
            });
        }

        function updateMatchRemark(id){
            dialog({
                url: '/match/remarkPage?id=' + id,
                title: '备注',
                width: 460,
                height: 350,
                fixed: true
            }).showModal();
            return false;
        }

        //初始化dialog
        seajs.config({
            alias: {
                "jquery": "jquery-1.10.2.js"
            }
        });
        seajs.use(['/js/dialogBack/src/dialog-plus'], function (dialog) {
            window.dialog = dialog;
        });
        window.console = window.console || {
            log: function () {
            }
        }

        //添加click事件
        /*seajs.use(['jquery'], function ($) {
            $('._edit').on('click', function () {
                var type = $(this).attr("data-type");
                var id = $(this).attr("data-id");
                dialog({
                    url: '${path}/info/preRecommendInfo.do?infotype=' + type + '&infoId=' + id,
                    title: '运营位排序',
                    width: 460,
                    height: 350,
                    fixed: true
                }).showModal();
                return false;
            });
        });*/

    </script>
</head>
<body>
<form th:id="form" th:action="@{${#httpServletRequest.getContextPath()} + '/match/matchListPage'}" th:object="${match}" method="post">
    <div class="site">
        <em>您现在所在的位置：比赛列表</em>
    </div>
    <div class="search">
        <div class="search-box">
            <i></i><input type="text" th:id="infoTitle" th:field="*{theme}" th:value="${match.theme}" data-val="输入标题名称"
                          class="input-text"/>
        </div>

        <div class="select-box w135">
            <input type="hidden" th:id="infoStatus" th:field="*{statue}" th:value="${match.statue}"/>
            <div th:id="bookStatusDiv" class="select-text" data-value="">
                <div th:switch="${match.statue}">
                    <div th:case="0">等待审核</div>
                    <div th:case="1">已通过</div>
                    <div th:case="2">未通过</div>
                    <div th:case="*">全部状态</div>
                </div>
            </div>
            <ul class="select-option">
                <li data-option="">全部状态</li>
                <li data-option="0">等待审核</li>
                <li data-option="1">已通过</li>
                <li data-option="2">未通过</li>
            </ul>
        </div>
        <div class="select-btn">
            <input type="button" onclick="$('#page').val(1);formSub('#form');" value="搜索"/>
        </div>
    </div>
    <div class="main-content">
        <table width="100%">
            <thead>
            <tr>
                <th>ID</th>
                <th class="title">比赛名称</th>
                <th>最新操作人</th>
                <th>创建时间</th>
                <th>最新操作时间</th>
                <th>状态</th>
                <th>管理</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="match,matchStat: ${list}">
                    <td th:text="${matchStat.index+1}"></td>
                    <td class="title" th:text="${match.theme}"></td>
                    <td th:text="${match.operateUser}"></td>
                    <td th:text="${#dates.format(match.startDate, 'yyyy-MM-dd')}"></td>
                    <td th:text="${#dates.format(match.endDate, 'yyyy-MM-dd')}"></td>
                    <!--发布状态-->
                    <td th:if="${match.statue==0}">等待审核</td>
                    <td th:if="${match.statue==1}">已通过</td>
                    <td th:if="${match.statue==2}">未通过</td>
                    <td>
                        <a th:if="${match.statue==0}" th:onclick="'changeMatchStatus(\'1\',\''+${match.id}+'\',\''+${match.theme}+'\')'">审核通过  |</a>
                        <a th:if="${match.statue==0}" th:onclick="'changeMatchStatus(\'2\',\''+${match.id}+'\',\''+${match.theme}+'\')'">审核不通过  |</a>
                        <a th:if="${match.statue==2}" th:onclick="'changeMatchStatus(\'1\',\''+${match.id}+'\',\''+${match.theme}+'\')'">审核通过  |</a>
                        <a th:if="${match.statue==1}" th:onclick="'changeMatchStatus(\'2\',\''+${match.id}+'\',\''+${match.theme}+'\')'">审核不通过  |</a>
                        <a th:if="${match.statue==1}" th:onclick="'updateMatchRemark(\''+${match.id}+'\')'">备注</a>
                        <!--上下架操作-->
                        <!--<a th:if="${math.mathStatus==2}" th:onclick="'changemathStatus(\'1\',\''+${math.mathId}+'\',\''+${math.mathTitle}+'\')'">发布  |</a>
                        <a th:if="${math.mathStatus==1}" th:onclick="'changemathStatus(\'2\',\''+${math.mathId}+'\',\''+${math.mathTitle}+'\')'">下架  |</a>
                        <a th:href="'/math/addAndEditPage?mathId='+${math.mathId}">编辑</a> |
                        <a th:onclick="'changemathStatus(\'0\',\''+${math.mathId}+'\',\''+${math.mathTitle}+'\')'">删除</a> |
                        &lt;!&ndash;置顶操作&ndash;&gt;
                        <a th:onclick="'changemathSort(\'1\',\''+${math.mathId}+'\',\''+${math.mathTitle}+'\')'" th:if="${math.mathSort==0}">置顶</a>
                        <a th:onclick="'changemathSort(\'0\',\''+${math.mathId}+'\',\''+${math.mathTitle}+'\')'" th:if="${math.newsSort!=0}">取消置顶</a>-->
                    </td>
            </tr>
            <tr th:if="${#lists.isEmpty(list)}">
                <td colspan="8"><h4 style="color:#DC590C">暂无数据!</h4></td>
            </tr>
            </tbody>
        </table>
        <input type="hidden" th:id="page" name="page" value="1"/>
        <div th:id="kkpager"></div>
    </div>
</form>
</body>
</html>