<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tiaotiaopoker.dao.MatchAuthorizationMapper" >
  <resultMap id="BaseResultMap" type="com.tiaotiaopoker.pojo.MatchAuthorization" >
    <result column="match_id" property="matchId" jdbcType="VARCHAR" />
    <result column="match_name" property="matchName" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_true_name" property="userTrueName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    match_id, match_name, user_id, user_true_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tiaotiaopoker.pojo.MatchAuthorizationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from match_authorization
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.tiaotiaopoker.pojo.MatchAuthorizationExample" >
    delete from match_authorization
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tiaotiaopoker.pojo.MatchAuthorization" >
    insert into match_authorization (match_id, match_name, user_id, 
      user_true_name)
    values (#{matchId,jdbcType=VARCHAR}, #{matchName,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{userTrueName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tiaotiaopoker.pojo.MatchAuthorization" >
    insert into match_authorization
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="matchId != null" >
        match_id,
      </if>
      <if test="matchName != null" >
        match_name,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userTrueName != null" >
        user_true_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="matchId != null" >
        #{matchId,jdbcType=VARCHAR},
      </if>
      <if test="matchName != null" >
        #{matchName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userTrueName != null" >
        #{userTrueName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tiaotiaopoker.pojo.MatchAuthorizationExample" resultType="java.lang.Integer" >
    select count(*) from match_authorization
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update match_authorization
    <set >
      <if test="record.matchId != null" >
        match_id = #{record.matchId,jdbcType=VARCHAR},
      </if>
      <if test="record.matchName != null" >
        match_name = #{record.matchName,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.userTrueName != null" >
        user_true_name = #{record.userTrueName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update match_authorization
    set match_id = #{record.matchId,jdbcType=VARCHAR},
      match_name = #{record.matchName,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      user_true_name = #{record.userTrueName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <select id="queryAuthorizationList" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    *
    from
    match_authorization
    where
      match_id = #{matchId,jdbcType=VARCHAR}
  </select>
</mapper>