<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tiaotiaopoker.dao.MatchTeamMemberMapper" >
  <resultMap id="BaseResultMap" type="com.tiaotiaopoker.pojo.MatchTeamMember" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="team_number" property="teamNumber" jdbcType="INTEGER" />
    <result column="team_member_one" property="teamMemberOne" jdbcType="VARCHAR" />
    <result column="team_member_two" property="teamMemberTwo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, team_number, team_member_one, team_member_two
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tiaotiaopoker.pojo.MatchTeamMemberExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from match_team_member
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from match_team_member
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from match_team_member
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.tiaotiaopoker.pojo.MatchTeamMemberExample" >
    delete from match_team_member
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tiaotiaopoker.pojo.MatchTeamMember" >
    insert into match_team_member (id, team_number, team_member_one, 
      team_member_two)
    values (#{id,jdbcType=VARCHAR}, #{teamNumber,jdbcType=INTEGER}, #{teamMemberOne,jdbcType=VARCHAR}, 
      #{teamMemberTwo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tiaotiaopoker.pojo.MatchTeamMember" >
    insert into match_team_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="teamNumber != null" >
        team_number,
      </if>
      <if test="teamMemberOne != null" >
        team_member_one,
      </if>
      <if test="teamMemberTwo != null" >
        team_member_two,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="teamNumber != null" >
        #{teamNumber,jdbcType=INTEGER},
      </if>
      <if test="teamMemberOne != null" >
        #{teamMemberOne,jdbcType=VARCHAR},
      </if>
      <if test="teamMemberTwo != null" >
        #{teamMemberTwo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tiaotiaopoker.pojo.MatchTeamMemberExample" resultType="java.lang.Integer" >
    select count(*) from match_team_member
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update match_team_member
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.teamNumber != null" >
        team_number = #{record.teamNumber,jdbcType=INTEGER},
      </if>
      <if test="record.teamMemberOne != null" >
        team_member_one = #{record.teamMemberOne,jdbcType=VARCHAR},
      </if>
      <if test="record.teamMemberTwo != null" >
        team_member_two = #{record.teamMemberTwo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update match_team_member
    set id = #{record.id,jdbcType=VARCHAR},
      team_number = #{record.teamNumber,jdbcType=INTEGER},
      team_member_one = #{record.teamMemberOne,jdbcType=VARCHAR},
      team_member_two = #{record.teamMemberTwo,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tiaotiaopoker.pojo.MatchTeamMember" >
    update match_team_member
    <set >
      <if test="teamNumber != null" >
        team_number = #{teamNumber,jdbcType=INTEGER},
      </if>
      <if test="teamMemberOne != null" >
        team_member_one = #{teamMemberOne,jdbcType=VARCHAR},
      </if>
      <if test="teamMemberTwo != null" >
        team_member_two = #{teamMemberTwo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tiaotiaopoker.pojo.MatchTeamMember" >
    update match_team_member
    set team_number = #{teamNumber,jdbcType=INTEGER},
      team_member_one = #{teamMemberOne,jdbcType=VARCHAR},
      team_member_two = #{teamMemberTwo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>