<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>跳跳掼蛋官方线下活动辅助系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8"/>
    <!-- Bootstrap -->
    <link th:href="@{${#httpServletRequest.getContextPath()} + '/css/vendor/bootstrap/bootstrap.min.css?v=3.0'}"
          rel="stylesheet">
    <link th:href="@{${#httpServletRequest.getContextPath()} + '/css/font-awesome.css'}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{${#httpServletRequest.getContextPath()} + '/css/vendor/animate/animate.min.css'}">
    <link type="text/css" rel="stylesheet" media="all"
          th:href="@{${#httpServletRequest.getContextPath()} + '/js/vendor/mmenu/css/jquery.mmenu.all.css'}"/>
    <link rel="stylesheet"
          th:href="@{${#httpServletRequest.getContextPath()} + '/js/vendor/videobackground/css/jquery.videobackground.css'}">
    <link rel="stylesheet" th:href="@{${#httpServletRequest.getContextPath()} + '/css/vendor/bootstrap-checkbox.css'}">

    <link rel="stylesheet"
          th:href="@{${#httpServletRequest.getContextPath()} + '/js/vendor/jgrowl/css/jquery.jgrowl.min.css?v=2.0'}">
    <link rel="stylesheet"
          th:href="@{${#httpServletRequest.getContextPath()} + '/js/vendor/rickshaw/css/rickshaw.min.css'}">
    <link rel="stylesheet" th:href="@{${#httpServletRequest.getContextPath()} + '/js/vendor/morris/css/morris.css'}">
    <link rel="stylesheet" th:href="@{${#httpServletRequest.getContextPath()} + '/js/vendor/tabdrop/css/tabdrop.css'}">
    <link rel="stylesheet"
          th:href="@{${#httpServletRequest.getContextPath()} + '/js/vendor/summernote/css/summernote.css'}">
    <link rel="stylesheet"
          th:href="@{${#httpServletRequest.getContextPath()} + '/js/vendor/summernote/css/summernote-bs3.css'}">
    <link rel="stylesheet"
          th:href="@{${#httpServletRequest.getContextPath()} + '/js/vendor/chosen/css/chosen.min.css'}">
    <link rel="stylesheet"
          th:href="@{${#httpServletRequest.getContextPath()} + '/js/vendor/chosen/css/chosen-bootstrap.css'}">

    <link th:href="@{${#httpServletRequest.getContextPath()} + '/css/minimal.css?v=2.0'}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js} IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js} doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{${#httpServletRequest.getContextPath()} + '/js/html5shiv.js'}"></script>
    <script th:src="@{${#httpServletRequest.getContextPath()} + '/js/respond.min.js'}"></script>
    <![endif]-->
    <script th:src="@{${#httpServletRequest.getContextPath()} + '/js/global.js'}"></script>

    <style>
        body {
            width: 100%;
            font-family: PingFangSC-Regular, Helvetica, Arial, Microsoft Yahei, sans-serif !important;
        }

        .full-screen {
            padding-left: 15px !important;
        }

        .full-screen-btn {
            position: relative;
            top: 15px;
        }

        .body_full {
            position: absolute !important;
            top: 0;
        }

        .scroll-view {
            overflow-y: scroll;
        }

    </style>
</head>
<body class="bg-1" id="body">


<!-- Preloader -->
<div class="mask">
    <div id="loader"></div>
</div>
<!--/Preloader -->

<!-- Wrap all page content here -->
<div id="wrap">


    <!-- Make page fluid -->
    <div class="row">


        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top navbar-transparent-black mm-fixed-top" role="navigation"
             id="navbar">


            <!-- Branding -->
            <div class="navbar-header col-md-2">
                <a class="navbar-brand" href="index.html">
                    跳跳掼蛋官方提供
                </a>
                <input type="hidden" id="nowSettingMatch" th:value="${matchId}">
                <div class="sidebar-collapse" style="position: relative; top:13px;">
                    <a href="#">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
            <!-- Branding end -->

            <!-- .nav-collapse -->
            <div class="navbar-collapse">

                <!-- Page refresh -->
                <ul class="nav navbar-nav">
                    <li class="divided">
                        <a href="javascript:;" th:id="liveScreen">现场投屏</a>
                    </li>

                    <li class="divided">
                        <a href="javascript:;" th:id="matchSetting">比赛设置</a>
                    </li>

                    <li class="divided">
                        <a href="javascript:;" th:id="users">参赛人员</a>
                    </li>

                    <li class="divided">
                        <a href="javascript:;" th:id="seatSetting">座位编排</a>
                    </li>

                    <li class="divided">
                        <a href="javascript:;" th:id="resultSetting">成绩录入</a>
                    </li>

                    <li class="divided">
                        <a href="javascript:void(0);" th:id="helpLink">帮助中心</a>
                    </li>

                    <li class="divided">
                        <a href="#" class="full-screen-btn"><i class="fa fa-arrows-alt"></i></a>
                    </li>
                </ul>
                <!-- /Page refresh -->

                <!-- Sidebar -->
                <ul class="nav navbar-nav side-nav" id="sidebar">

                    <li class="collapsed-content">
                        <ul>
                            <li class="search"><!-- Collapsed search pasting here at 768px --></li>
                        </ul>
                    </li>

                    <li class="navigation" id="navigation">
                        <ul class="menu">

                            <li class="nav-item">
                                <a href="javascript:void(0);" id="signSetting">
                                    <i class="fa fa-sign-in"></i> 签到
                                </a>
                            </li>

                            <li class="nav-item" id="turnBefore">
                                <a href="javascript:void(0);">
                                    <i class="fa fa-random"></i> 规则
                                </a>
                            </li>

                            <li th:each="turn,turnStat: ${ruleTurnList}" class="dropdown turn">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                   th:data="${turnStat.index+1}">
                                    <i class="fa fa-list"></i> <span th:text="'第'+${turn}+'轮'"></span> <b
                                        class="fa fa-plus dropdown-plus"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="'javascript:seatShowDetail('+${turnStat.index+1}+')'">
                                            <i class="fa fa-group"></i> 座位
                                        </a>
                                    </li>
                                    <li>
                                        <a href="'javascript:resultShowDetail('+${turnStat.index+1}+')'">
                                            <i class="fa fa-adjust"></i> 成绩
                                        </a>
                                    </li>
                                    <li>
                                        <a href="'javascript:printSeat('+${turnStat.index+1}+')'">
                                            <i class="fa fa-hourglass-1"></i> 比赛
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="javascript:resultShowDetail(999999)">
                                    <i class="fa fa-glass"></i> 总成绩
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" id="prize">
                                    <i class="fa fa-bullhorn"></i> 获奖名单
                                </a>
                            </li>
                        </ul>

                    </li>

                </ul>
                <!-- Sidebar end -->


            </div>
            <!--/.nav-collapse -->


        </div>
        <!-- Fixed navbar end -->

        <!-- Page content -->
        <div id="content" class="col-md-12">
            <!-- content main container -->
            <div class="main">

                <!-- row -->
                <div class="row" th:id="row">

                </div>
                <!-- /row -->
            </div>
            <!-- /content container -->


        </div>
        <!-- Page content end -->

    </div>
    <!-- Make page fluid-->


</div>
<!-- Wrap all page content end -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/jquery.js'}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/bootstrap/bootstrap.min.js?v=11'}"></script>
<script type="text/javascript"
        th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/mmenu/js/jquery.mmenu.min.js'}"></script>
<script type="text/javascript"
        th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/sparkline/jquery.sparkline.min.js'}"></script>
<script type="text/javascript"
        th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/nicescroll/jquery.nicescroll.min.js'}"></script>
<script type="text/javascript"
        th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/animate-numbers/jquery.animateNumbers.js'}"></script>
<script type="text/javascript"
        th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/videobackground/jquery.videobackground.js'}"></script>
<script type="text/javascript"
        th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/blockui/jquery.blockUI.js'}"></script>

<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/jgrowl/jquery.jgrowl.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/flot/jquery.flot.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/flot/jquery.flot.time.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/flot/jquery.flot.selection.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/flot/jquery.flot.animator.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/flot/jquery.flot.orderBars.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/easypiechart/jquery.easypiechart.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/rickshaw/raphael-min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/rickshaw/d3.v2.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/rickshaw/rickshaw.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/morris/morris.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/tabdrop/bootstrap-tabdrop.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/summernote/summernote.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/chosen/chosen.jquery.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/minimal.min.js?v=3.6'}"></script>

<script th:inline="javascript">
    /* <![CDATA[ */


    $(function () {
        var token = [[${token}]]

        updateToken(token);


        $("#sign-list").height(getClientHeight() - 140);

        $(".full-screen-btn").click(function () {
            _full_screen();
            $("#sign-list").height(getClientHeight() - 70);
        });

        $(document).keydown(function (e) {
            if (e.keyCode == 27) {
                showNav();
                $("#sign-list").height(getClientHeight() - 140);
            }
        });

        if (window.localStorage.getItem("IS_LOGIN_ENTER") == "1" || window.localStorage.getItem("CURRENT_MATCH_ID") == "") {
            hideNav();
            $("#row").load("/sys/matchSetting/index?token=" + token, function () {
            });
        } else {
            var matchId = window.localStorage.getItem("CURRENT_MATCH_ID");
            updateMatchId(matchId);
            $("#row").load("/sys/sign/match/" + matchId + "?token=" + token, function () {
            });
        }


        //现场投屏
        $("#liveScreen").click(function () {
            var matchId = getMatchId();
            _destory();
            showLoading();
            $("#row").load("/sys/countDown/" + matchId + "?token=" + token, function () {
                closeLoading();
            });
        });

        //比赛设置
        $("#matchSetting").click(function () {
            _destory();
            showLoading();
            $("#row").load("/sys/matchSetting/index?token=" + token + "&matchId=" + getMatchId(), function () {
                closeLoading();
            });
        });

        //座位设置
        $("#seatSetting").click(function () {
            _destory();
            showLoading();
            var matchId = getMatchId();
            $("#row").load("/sys/seatSetting/index?token=" + token + "&matchId=" + matchId, function () {
                closeLoading();
            });
        });

        //签到设置
        $("#signSetting").click(function () {
            showLoading();
            _destory();
            var matchId = getMatchId();
            $("#row").load("/sys/sign/match/" + matchId + "?token=" + token, function () {
                closeLoading();
            });
        });

        //参赛人员
        $("#users").click(function () {
            showLoading();
            _destory();
            var matchId = getMatchId();
            $("#row").load("/sys/sign/users/" + matchId + "?token=" + token, function () {
                closeLoading();
            });
        });

        //成绩录入
        $("#resultSetting").click(function () {
            showLoading();
            _destory();
            var matchId = getMatchId();
            $("#row").load("/sys/resultSetting/resultInput?matchId=" + matchId + "&token=" + token, function () {
                closeLoading();
            });
        });

        //比赛规则展示
        $("#turnBefore").click(function () {
            showLoading();
            _destory();
            var matchId = getMatchId();
            $("#row").load("/sys/rule/" + matchId + "?token=" + token, function () {
                closeLoading();
            });
        });

        //获奖名单
        $("#prize").click(function () {
            showLoading();
            _destory();
            var matchId = getMatchId();
            $("#row").load("/sys/prize/" + matchId + "?token=" + token, function () {
                closeLoading();
            });
        });
    });

    function openAndDown(obj) {
        $(obj).parent().siblings().removeClass("hovered open");
        $(obj).parent().addClass("hovered open");
    }

    //座位详情
    function seatShowDetail(turnNumber, obj) {
        showLoading();
        _destory();
        var matchId = getMatchId();
        $("#row").load("/sys/seatSetting/showDetail", {
            matchId: matchId,
            token: getToken(),
            turnNumber: turnNumber
        }, function () {
            closeLoading();
            $(obj).parent().parent().parent().siblings().removeClass("hovered open")
            $(obj).parent().parent().parent().addClass("hovered open");
        });
    }

    //成绩详情
    function resultShowDetail(turnNumber, obj) {
        showLoading();
        _destory();
        $("#row").load("/sys/resultSetting/resultDetail", {
            matchId: $("#nowSettingMatch").val(),
            token: getToken(),
            turnNumber: turnNumber
        }, function () {
            closeLoading();
            $(obj).parent().parent().parent().siblings().removeClass("hovered open")
            $(obj).parent().parent().parent().addClass("hovered open");
        });
    }

    //打印座位
    function printSeat(turnNumber, obj) {
        showLoading();
        _destory();
        $("#row").load("/sys/seatSetting/seatPrint", {
            matchId: $("#nowSettingMatch").val(),
            token: getToken(),
            turnNumber: turnNumber
        }, function () {
            closeLoading();
            $(obj).parent().parent().parent().siblings().removeClass("hovered open")
            $(obj).parent().parent().parent().addClass("hovered open");
        });
    }

    $("#helpLink").click(function () {
        showLoading();
        _destory();
        $("#row").load("/sys/help?token=" + getToken(), function () {
            closeLoading();
        });


    });

    $(".nav-item").click(function () {
        $(".open").removeClass("open");
        $(".hovered").removeClass("hovered");

        $(this).addClass("hovered");
    });

    /* ]]> */
</script>
</body>
</html>

