<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Minimal 1.0 - Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" href="http://www.17sucai.com/static/images/favicon.ico" type="image/x-icon"/>
    <!-- Bootstrap -->
    <link th:href="@{${#httpServletRequest.getContextPath()} + '/css/vendor/bootstrap/bootstrap.min.css?v=2.0'}"
          rel="stylesheet">
    <link th:href="@{${#httpServletRequest.getContextPath()} + '/css/font-awesome.css'}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{${#httpServletRequest.getContextPath()} + '/css/vendor/animate/animate.min.css'}">
    <link type="text/css" rel="stylesheet" media="all"
          th:href="@{${#httpServletRequest.getContextPath()} + '/js/vendor/mmenu/css/jquery.mmenu.all.css'}"/>
    <link rel="stylesheet"
          th:href="@{${#httpServletRequest.getContextPath()} + '/js/vendor/videobackground/css/jquery.videobackground.css'}">
    <link rel="stylesheet" th:href="@{${#httpServletRequest.getContextPath()} + '/css/vendor/bootstrap-checkbox.css'}">

    <link rel="stylesheet"
          th:href="@{${#httpServletRequest.getContextPath()} + '/js/vendor/jgrowl/css/jquery.jgrowl.min.css?v=2.0'}">
    <link rel="stylesheet"
          th:href="@{${#httpServletRequest.getContextPath()} + '/js/vendor/rickshaw/css/rickshaw.min.css'}">
    <link rel="stylesheet" th:href="@{${#httpServletRequest.getContextPath()} + '/js/vendor/morris/css/morris.css'}">
    <link rel="stylesheet" th:href="@{${#httpServletRequest.getContextPath()} + '/js/vendor/tabdrop/css/tabdrop.css'}">
    <link rel="stylesheet"
          th:href="@{${#httpServletRequest.getContextPath()} + '/js/vendor/summernote/css/summernote.css'}">
    <link rel="stylesheet"
          th:href="@{${#httpServletRequest.getContextPath()} + '/js/vendor/summernote/css/summernote-bs3.css'}">
    <link rel="stylesheet"
          th:href="@{${#httpServletRequest.getContextPath()} + '/js/vendor/chosen/css/chosen.min.css'}">
    <link rel="stylesheet"
          th:href="@{${#httpServletRequest.getContextPath()} + '/js/vendor/chosen/css/chosen-bootstrap.css'}">

    <link th:href="@{${#httpServletRequest.getContextPath()} + '/css/minimal.css?v=1.0'}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js} IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js} doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{${#httpServletRequest.getContextPath()} + '/js/html5shiv.js'}"></script>
    <script th:src="@{${#httpServletRequest.getContextPath()} + '/js/respond.min.js'}"></script>
    <![endif]-->
    <script th:src="@{${#httpServletRequest.getContextPath()} + '/js/global.js'}"></script>

    <style>
        body {
            width: 100%;
            font-family: PingFangSC-Regular, Helvetica, Arial, Microsoft Yahei, sans-serif !important;
        }

        .full-screen {
            padding-left: 15px !important;
        }

        .body_full {
            position: absolute !important;
            top: 0;
        }

        .scroll-view {
            overflow-y: scroll;
        }

    </style>
</head>
<body class="bg-1" id="body">


<!-- Preloader -->
<div class="mask">
    <div id="loader"></div>
</div>
<!--/Preloader -->

<!-- Wrap all page content here -->
<div id="wrap">


    <!-- Make page fluid -->
    <div class="row">


        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top navbar-transparent-black mm-fixed-top" role="navigation"
             id="navbar">


            <!-- Branding -->
            <div class="navbar-header col-md-2">
                <a class="navbar-brand" href="index.html">
                    跳跳棋趣
                </a>
                <input type="hidden" id="nowSettingMatch" th:value="${matchId}">
                <div class="sidebar-collapse">
                    <a href="#">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
            <!-- Branding end -->
            <div class="copyrights">Collect from <a href="http://www.17sucai.com/" title="网站模板">网站模板</a></div>


            <!-- .nav-collapse -->
            <div class="navbar-collapse">

                <!-- Page refresh -->
                <ul class="nav navbar-nav">
                    <li class="divided">
                        <a href="javascript:;" th:id="liveScreen">现场投屏</a>
                    </li>

                    <li class="divided">
                        <a href="javascript:;" th:id="signSetting">签到设置</a>
                    </li>

                    <li class="divided">
                        <a href="javascript:;" th:id="matchSetting">比赛设置</a>
                    </li>

                    <li class="divided">
                        <a href="#">参赛人员</a>
                    </li>

                    <li class="divided">
                        <a href="javascript:;" th:id="seatSetting">座位编排</a>
                    </li>

                    <li class="divided">
                        <a href="#">成绩录入</a>
                    </li>

                    <li class="divided">
                        <a href="#">历史赛事</a>
                    </li>

                    <li class="divided">
                        <a href="#">帮助中心</a>
                    </li>

                    <li class="divided">
                        <a href="#" class="full-screen-btn"><i class="fa fa-arrows-alt"></i></a>
                    </li>
                </ul>
                <!-- /Page refresh -->

                <!-- Sidebar -->
                <ul class="nav navbar-nav side-nav" id="sidebar">

                    <li class="collapsed-content">
                        <ul>
                            <li class="search"><!-- Collapsed search pasting here at 768px --></li>
                        </ul>
                    </li>

                    <li class="navigation" id="navigation">
                        <ul class="menu">

                            <li class="">
                                <a href="index.html">
                                    <i class="fa fa-tachometer"></i> 签到
                                </a>
                            </li>

                            <li class="" id="turnBefore">
                                <a href="index.html">
                                    <i class="fa fa-tachometer"></i> 规则
                                </a>
                            </li>

                            <li th:each="turn,turnStat: ${ruleTurnList}" class="dropdown turn">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                   th:data="${turnStat.index+1}">
                                    <i class="fa fa-list"></i> <span th:text="'第'+${turn}+'轮'"></span> <b
                                        class="fa fa-plus dropdown-plus"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="form-elements.html">
                                            <i class="fa fa-caret-right"></i> 座位
                                        </a>
                                    </li>
                                    <li>
                                        <a href="validation-elements.html">
                                            <i class="fa fa-caret-right"></i> 比赛
                                        </a>
                                    </li>
                                    <li>
                                        <a href="form-wizard.html">
                                            <i class="fa fa-caret-right"></i> 成绩
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="">
                                <a href="index.html">
                                    <i class="fa fa-tachometer"></i> 总成绩
                                </a>
                            </li>
                        </ul>

                    </li>
                </ul>
                <!-- Sidebar end -->


            </div>
            <!--/.nav-collapse -->


        </div>
        <!-- Fixed navbar end -->

        <!-- Page content -->
        <div id="content" class="col-md-12">
            <!-- content main container -->
            <div class="main">

                <!-- row -->
                <div class="row" th:id="row">

                </div>
                <!-- /row -->
            </div>
            <!-- /content container -->


        </div>
        <!-- Page content end -->

    </div>
    <!-- Make page fluid-->


</div>
<!-- Wrap all page content end -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/jquery.js'}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/bootstrap/bootstrap.min.js'}"></script>
<script type="text/javascript"
        th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/mmenu/js/jquery.mmenu.min.js'}"></script>
<script type="text/javascript"
        th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/sparkline/jquery.sparkline.min.js'}"></script>
<script type="text/javascript"
        th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/nicescroll/jquery.nicescroll.min.js'}"></script>
<script type="text/javascript"
        th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/animate-numbers/jquery.animateNumbers.js'}"></script>
<script type="text/javascript"
        th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/videobackground/jquery.videobackground.js'}"></script>
<script type="text/javascript"
        th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/blockui/jquery.blockUI.js'}"></script>

<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/jgrowl/jquery.jgrowl.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/flot/jquery.flot.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/flot/jquery.flot.time.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/flot/jquery.flot.selection.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/flot/jquery.flot.animator.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/flot/jquery.flot.orderBars.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/easypiechart/jquery.easypiechart.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/rickshaw/raphael-min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/rickshaw/d3.v2.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/rickshaw/rickshaw.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/morris/morris.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/tabdrop/bootstrap-tabdrop.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/summernote/summernote.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/vendor/chosen/chosen.jquery.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/minimal.min.js?v=3.1'}"></script>

<script th:inline="javascript">
    /* <![CDATA[ */
    function requestFullScreen() {
        var element = document.getElementsByTagName("html")[0];
        var requestMethod = element.requestFullScreen || element.webkitRequestFullScreen || element.mozRequestFullScreen || element.msRequestFullScreen;
        if (requestMethod) {
            requestMethod.call(element);
        } else if (typeof window.ActiveXObject !== "undefined") {
            var wscript = new ActiveXObject("WScript.Shell");
            if (wscript !== null) {
                wscript.SendKeys("{F11}");
            }
        }
    }

    $(function () {
        var token = [[${token}]];

        $("#sign-list").height(getClientHeight() - 140);

        $(".full-screen-btn").click(function () {
            $("#navbar").addClass("hide");
            $("#content").addClass("full-screen");
            $("#body").addClass("body_full");
            requestFullScreen();
            $("#sign-list").height(getClientHeight() - 70);
        });

        $("#row").load("/sys/matchSetting/index?token=" + token, function () {
        });

        //现场投屏
        $("#liveScreen").click(function () {
            isStop = true;
            var matchId = $("#nowSettingMatch").val();
            window.location.href = "/sys/index?token=" + token + "&matchId=" + matchId;
        });

        //比赛设置
        $("#matchSetting").click(function () {
            isStop = true;
            $("#row").load("/sys/matchSetting/index?token=" + token, function () {

            });
        });

        //座位设置
        $("#seatSetting").click(function () {
            isStop = true;
            $("#row").load("/sys/seatSetting/index", function () {

            });
        });

        //签到设置
        $("#signSetting").click(function () {
            //var matchId = $("#nowSettingMatch").val();
            showNotification("错误","非法操作！");
            showLoading();
            isStop = false;
            var matchId = "JJX390iH";
            $("#row").load("/sys/sign/match/" + matchId + "?token=" + token, function () {
                closeLoading();
            });
        });
    })

    function getClientHeight() {
        var clientHeight = 0;
        if (document.body.clientHeight && document.documentElement.clientHeight) {
            var clientHeight = (document.body.clientHeight < document.documentElement.clientHeight) ? document.body.clientHeight : document.documentElement.clientHeight;
        }
        else {
            var clientHeight = (document.body.clientHeight > document.documentElement.clientHeight) ? document.body.clientHeight : document.documentElement.clientHeight;
        }
        return clientHeight;
    }
    /* ]]> */
</script>
</body>
</html>

