<html xmlns:th="http://www.thymeleaf.org">
<script th:inline="javascript">
    /* <![CDATA[ */
    $(function () {
        //chosen select input
        //$(".chosen-select").chosen({disable_search_threshold: 10});

        $("#updateMatchRule").click(function () {
            //拼接ruleResult
            var ruleResultString = "";
            $("#right").find("option").each(function () {
                ruleResultString += $(this).attr("value") + ",";
            });
            $("#ruleResult").val(ruleResultString.length > 0 ? ruleResultString.substring(0, ruleResultString.length - 1) : "");
            $.post("/sys/matchSetting/save", $("#matchRuleForm").serialize(), function (data) {
                //resetMatchRule();
            });
        });
        $("#resettingMatchRule").click(function () {
            resetMatchRule();
        });
        //首轮座位规则回显
        var ruleSeat = $("#ruleSeat").attr("value");
        $("#ruleSeat").find("option").each(function () {
            if ($(this).val() == ruleSeat) {
                $("#ruleSeat_chosen").find("span").html($(this).html());
            }
        });

        $("#next-step").click(function () {
            //do something
            var selectMatch = $("#selectMatch").val();
            if (selectMatch == null || selectMatch == 0) {
                showNotification("提示", "请选择比赛！");
                return;
            }
            var ruleTurn = $("#ruleTurn").val();
            if (ruleTurn == null || ruleTurn == '' || isNaN(ruleTurn)) {
                showNotification("提示", "请填写轮次！");
                return;
            }
            var rulePair = $("#rulePair").val();
            if (rulePair == null || rulePair == '' || isNaN(rulePair)) {
                showNotification("提示", "请填写副数！");
                return;
            }
            var ruleSeat = $("#ruleSeat").val();
            console.log(ruleSeat);
            if (ruleSeat == null || ruleSeat == '' || ruleSeat == '0' || isNaN(ruleSeat)) {
                showNotification("提示", "请选择首轮座位规则！");
                return;
            }
            var ruleWin = $("#ruleWin").val();
            if (ruleWin == null || ruleWin == '' || isNaN(ruleWin)) {
                showNotification("提示", "请填写胜得分！");
                return;
            }
            var ruleFail = $("#ruleFail").val();
            if (ruleFail == null || ruleFail == '' || isNaN(ruleFail)) {
                showNotification("提示", "请填写负得分！");
                return;
            }

            //获取当游戏是否分团队
            $.post("/sys/matchSetting/isGroup/" + getMatchId(), {}, function (res) {
                var hasGroupName = res.resData;
                setHasGroupName(hasGroupName);

                var ruleTurn = parseInt($("#ruleTurn").val());
                var html = '';
                var tName = ["一", "二", "三", "四", "五", "六", "七", "八", "九", "十"];
                for (var i = 0; i < ruleTurn; i++) {
                    html += '<li class="dropdown turn"><a href="#" onclick="openAndDown(this)" class="dropdown-toggle" data-toggle="dropdown" th:data="' + (i + 1) + '"><i class="fa fa-list"></i> 第' + (tName[i]) + '轮<b class="fa fa-plus dropdown-plus"></b></a><ul class="dropdown-menu"><li><a href="#" onclick="seatShowDetail(' + (i + 1) + ',this)"><i class="fa fa-caret-right"></i> 座位</a></li><li><a href="#" onclick="resultShowDetail(' + (i + 1) + ',this)"><i class="fa fa-caret-right"></i> 成绩</a></li>';
                    if (hasGroupName) {
                        html += '<li><a href="#" onclick="showGroupResult(' + (i + 1) + ',this)"><i class="fa fa-caret-right"></i> 团队成绩</a></li>';
                    }
                    html += '<li><a href="#" onclick="printSeat(' + (i + 1) + ',this)"><i class="fa fa-caret-right"></i> 座位标签</a></li></ul></li>';
                }

                $("#navigation").find(".menu").find(".turn").each(function () {
                    $(this).remove();
                });

                if (hasGroupName) {
                    $("#groupTotalScore").removeClass("hide");
                } else {
                    $("#groupTotalScore").addClass("hide");
                }

                $(html).insertAfter("#turnBefore");
                //保存
                $("#updateMatchRule").click();
                $("#updateMatchInfo").click();

                window.localStorage.setItem("IS_LOGIN_ENTER", "0");
                window.localStorage.setItem("CURRENT_MATCH_ID", getMatchId());

                //去签到页面
                $("#signSetting").click();
                showNav();
            });

        });

        var sVal = $("#ruleSeat").attr("value");
        if (sVal != null && sVal != "") {
            $("#ruleSeat").val(sVal);
        }

    })

    function resetMatchRule() {
        //重置基础规则设置
        $("#matchRule").load("/sys/matchSetting/matchRule?token=" + $("#ruleToken").val() + "&matchId=" + $("#nowSettingMatch").val(), function () {
        });
    }

    function showDraw(obj) {
        var isShow = $(obj).val();
        if (isShow == 1) {
            $("#drawShow").show();
        } else {
            $("#drawShow").hide();
            $("#ruleDraw").val("1");
        }
    }

    //上移
    function moveUp(obj) {
        for (var i = 1; i < obj.length; i++) {//最上面的一个不需要移动，所以直接从i=1开始
            if (obj.options[i].selected) {
                if (!obj.options.item(i - 1).selected) {
                    var selText = obj.options[i].text;
                    var selValue = obj.options[i].value;
                    obj.options[i].text = obj.options[i - 1].text;
                    obj.options[i].value = obj.options[i - 1].value;
                    obj.options[i].selected = false;
                    obj.options[i - 1].text = selText;
                    obj.options[i - 1].value = selValue;
                    obj.options[i - 1].selected = true;
                }
            }
        }
    }

    //下移
    function moveDown(obj) {
        for (var i = obj.length - 2; i >= 0; i--) {//向下移动，最后一个不需要处理，所以直接从倒数第二个开始
            if (obj.options[i].selected) {
                if (!obj.options[i + 1].selected) {
                    var selText = obj.options[i].text;
                    var selValue = obj.options[i].value;
                    obj.options[i].text = obj.options[i + 1].text;
                    obj.options[i].value = obj.options[i + 1].value;
                    obj.options[i].selected = false;
                    obj.options[i + 1].text = selText;
                    obj.options[i + 1].value = selValue;
                    obj.options[i + 1].selected = true;
                }
            }
        }
    }

    //移动
    function moveOption(obj1, obj2) {
        for (var i = obj1.options.length - 1; i >= 0; i--) {
            if (obj1.options[i].selected) {
                var opt = new Option(obj1.options[i].text, obj1.options[i].value);
                opt.selected = true;
                obj2.options.add(opt);
                obj1.remove(i);
            }
        }
    }

    //置顶
    function moveTop(obj) {
        var opts = [];
        for (var i = obj.options.length - 1; i >= 0; i--) {
            if (obj.options[i].selected) {
                opts.push(obj.options[i]);
                obj.remove(i);
            }
        }
        var index = 0;
        for (var t = opts.length - 1; t >= 0; t--) {
            var opt = new Option(opts[t].text, opts[t].value);
            opt.selected = true;
            obj.options.add(opt, index++);
        }
    }

    //置底
    function moveBottom(obj) {
        var opts = [];
        for (var i = obj.options.length - 1; i >= 0; i--) {
            if (obj.options[i].selected) {
                opts.push(obj.options[i]);
                obj.remove(i);
            }
        }
        for (var t = opts.length - 1; t >= 0; t--) {
            var opt = new Option(opts[t].text, opts[t].value);
            opt.selected = true;
            obj.options.add(opt);
        }
    }

    /* ]]> */
</script>

<style>
    .radio label:before {
        width: 20px;
        height: 20px;
    }

    .radio label:after {
        width: 20px;
        height: 20px;
        top: 7px;
    }

    .form-horizontal .radio, .form-horizontal .checkbox {
        float: left;
    }

    center {
        font-size: 12px;
        color: red;
        font-weight: bold;
    }

    select {
        font-size: 12px;
        color: green;
    }

    .operate {
        float: right;
    }
</style>
<section class="tile color transparent-black">
    <!-- tile header -->
    <div class="tile-header">
        <h1><strong>基础规则设置</strong></h1>
        <div class="controls">
            <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
            <a href="#" class="remove"><i class="fa fa-times"></i></a>
        </div>
    </div>
    <!-- /tile header -->
    <!-- tile body -->
    <div class="tile-body">

        <form class="form-horizontal" role="form" id="matchRuleForm">

            <div class="form-group">
                <label class="col-sm-4 control-label">总轮次</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="ruleTurn" name="ruleTurn"
                           th:value="${matchRule}==null?'':${matchRule.ruleTurn}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">每轮副数</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="rulePair" name="rulePair"
                           th:value="${matchRule}==null?'':${matchRule.rulePair}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">每轮时间</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="ruleTime"
                           th:value="${matchRule}==null?'':${matchRule.ruleTime}">
                </div>
            </div>

            <div class="form-group" th:if="${matchRule.ruleDraw!=1}">
                <label class="col-sm-4 control-label">是否显示平局</label>
                <div class="col-sm-8" id="isShowDraw">
                    <div class="radio radio-transparent">
                        <input type="radio" id="optionsRadios2" value="0" name="checkRuleDraw"
                               onchange="showDraw(this);">
                        <label for="optionsRadios2" style="float: left;"><span style="font-size: 20px">否</span></label>
                    </div>
                    <div class="radio radio-transparent">
                        <input type="radio" id="optionsRadios1" value="1" name="checkRuleDraw" checked
                               onchange="showDraw(this);">
                        <label for="optionsRadios1" style="float: left;"><span style="font-size: 20px">是</span></label>
                    </div>
                </div>
            </div>

            <div class="form-group" th:if="${matchRule.ruleDraw==1}">
                <label class="col-sm-4 control-label">是否显示平局</label>
                <div class="col-sm-8">
                    <div class="radio radio-transparent">
                        <input type="radio" id="optionsRadios2" value="0" name="checkRuleDraw" checked
                               onchange="showDraw(this);">
                        <label for="optionsRadios2" style="float: left;"><span style="font-size: 20px">否</span></label>
                    </div>
                    <div class="radio radio-transparent">
                        <input type="radio" id="optionsRadios1" value="1" name="checkRuleDraw"
                               onchange="showDraw(this);">
                        <label for="optionsRadios1" style="float: left;"><span style="font-size: 20px">是</span></label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">积分设置</label>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="form-group col-sm-6" style="margin-left: 0px">
                            <label style="margin-right: 10px">胜</label>
                            <input type="text" class="form-control" id="ruleWin" name="ruleWin"
                                   th:value="${matchRule}==null?'':${matchRule.ruleWin}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6" style="margin-left: 0px">
                            <label style="margin-right: 10px">负</label>
                            <input type="text" class="form-control" id="ruleFail" name="ruleFail"
                                   th:value="${matchRule}==null?'':${matchRule.ruleFail}">
                        </div>
                    </div>
                    <div class="row" id="drawShow" th:if="${matchRule.ruleDraw!=1}">
                        <div class="form-group col-sm-6" style="margin-left: 0px">
                            <label style="margin-right: 10px">平</label>
                            <input type="text" class="form-control" id="ruleDraw" name="ruleDraw"
                                   th:value="${matchRule}==null?'':${matchRule.ruleDraw}">
                        </div>
                    </div>
                    <div class="row" id="drawShow" style="display: none" th:if="${matchRule.ruleDraw==1}">
                        <div class="form-group col-sm-6" style="margin-left: 0px">
                            <label style="margin-right: 10px">平</label>
                            <input type="text" class="form-control" id="ruleDraw" name="ruleDraw"
                                   th:value="${matchRule}==null?'':${matchRule.ruleDraw}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">首轮座位排序方式</label>
                <div class="col-sm-8">
                    <select class="chosen-select chosen-transparent form-control" id="ruleSeat" th:name="ruleSeat"
                            th:value="${matchRule}==null?'':${matchRule.ruleSeat}">
                        <option th:value="0">请选择首轮编排方式</option>
                        <option th:value="1"> 临近编排</option>
                        <option th:value="2"> 首尾编排</option>
                        <option th:value="3"> 拦腰编排</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">成绩排名规则</label>
                <div class="col-sm-8">
                    <table border="0" width="400">
                        <tr>
                            <td><span style="font-size: 20px;color: white;">可选择排序方式</span></td>
                            <td></td>
                            <td><span style="font-size: 20px;color: white;">已选择排序方式</span></td>
                        </tr>
                        <tr>
                            <td width="40%">
                                <select multiple name="left" id="left" size="8" style='width:200px;'
                                        ondblclick="moveOption(document.getElementById('left'), document.getElementById('right'))">
                                    <option th:each="otherRule:${otherList}" th:value="${otherRule.ruleEnglish}"
                                            th:text="${otherRule.ruleChinese}"></option>
                                </select>
                            </td>
                            <td width="20%" align="center">
                                <input type="button" value=" >> "
                                       onclick="moveOption(document.getElementById('left'),document.getElementById('right'))"><br><br>
                                <input type="button" value=" << "
                                       onclick="moveOption(document.getElementById('right'), document.getElementById('left'))">
                            </td>
                            <td width="40%">
                                <select multiple id="right" size="8" style='width:200px;'
                                        ondblclick="moveOption(document.getElementById('right'), document.getElementById('left'))">
                                    <option th:each="myRule:${myList}" th:value="${myRule.ruleEnglish}"
                                            th:text="${myRule.ruleChinese}"></option>
                                </select>
                                <input type="hidden" id="ruleResult" name="ruleResult">;
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" sty>
                                <button type="button" class="btn btn-primary operate"
                                        onclick="moveTop(document.getElementById('right'));">置顶
                                </button>
                                <button type="button" class="btn btn-primary operate"
                                        onclick="moveUp(document.getElementById('right'));">上移
                                </button>
                                <button type="button" class="btn btn-primary operate"
                                        onclick="moveDown(document.getElementById('right'));">下移
                                </button>
                                <button type="button" class="btn btn-primary operate"
                                        onclick="moveBottom(document.getElementById('right'));">置底
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <input type="hidden" th:name="token" th:value="${token}" id="ruleToken">
                    <input type="hidden" th:name="id" th:value="${matchRule}==null?'':${matchRule.id}">
                    <button type="button" class="btn btn-primary" id="updateMatchRule">保存</button>
                    <button type="button" class="btn btn-default" id="resettingMatchRule">重置</button>
                </div>
            </div>
        </form>
    </div>
    <!-- /tile body -->
</section>

<div class="next-btn-box" style="text-align: center">
    <button type="button" id="next-step" style="font-size: 18px; padding: 10px 20px;"
            class="btn btn-green margin-bottom-20">设置完成，下一步
    </button>
</div>