<html xmlns:th="http://www.thymeleaf.org">
<script th:inline="javascript">
    /* <![CDATA[ */
    /* ]]> */
</script>

<style type="text/css">
    table {
        color: #FFF;
        font-size: 30px;
    }

    .td-title {
        font-weight: 700;
    }

    table td span {
        padding: 20px 0;
        display: -webkit-box;
    }
</style>

<div class="col-lg-12 col-md-12">
    <div class="bg-transparent-black-3" style="padding: 15px 0;">
        <div class="tile-header" style="text-align:center; margin-bottom: 20px;">
            <h1><strong>比赛规则</strong></h1>
        </div>

        <table class="table" id="user-table">
            <tr>
                <td align="left"><span style="font-weight: 700;float: left;">基本规则:&nbsp;&nbsp;</span><span
                        th:text="'共计'+${totalTurn}+'轮，每轮'+${data.rulePair}+'副牌，每轮限时'+${data.ruleTime}+'分钟'"></span></td>
            </tr>

            <tr>
                <td align="left"><span style="font-weight: 700;float: left;">座位编排规则:&nbsp;&nbsp;</span><span th:text="${firstSeatRuleName}"></span></td>
            </tr>

            <tr>
                <td align="left"><span style="font-weight: 700;float: left;">得分:&nbsp;&nbsp;</span><span th:text="'胜'+${data.ruleWin}+'负'+${data.ruleFail}+${draw}"></span>
                </td>
            </tr>
        </table>
    </div>
</div>