<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--通用页面-->
    <div th:replace="admin/common/commonPage :: html"></div>
</head>
<style>
    input {
        box-sizing: content-box !important;
    }
</style>
<script th:inline="javascript">
    seajs.config({
        alias: {
            "jquery": "/js/dialog/lib/jquery-1.10.2.js"
        }
    });
    seajs.use(['/js/dialogBack/src/dialog-plus'], function (dialog) {
        window.dialog = dialog;
    });
    window.console = window.console || {
        log: function () {
        }
    }

    function showTip(val, id, msg) {
        if (val == undefined || val == "") {
            removeMsg(id);
            appendMsg(id, msg);
            window.location.hash = "#"+id;
            return;
        } else {
            removeMsg(id);
        }
    }

    seajs.use(['jquery'], function ($) {
        $(function () {
            /*点击取消按钮，关闭登录框*/
            $(".btn-save").on("click", function () {
                var profitHighLine = $("#profitHighLine").val();
                var profitDownLine = $("#profitDownLine").val();
                var profitPercent = $("#profitPercent").val();

                if (profitHighLine == undefined || profitHighLine == "") {
                    removeMsg("profitHighLineLabel");
                    appendMsg("profitHighLineLabel", "区间上限不能为空!");
                    window.location.hash = "#profitHighLineLabel";
                    return;
                } else {
                    removeMsg("profitHighLineLabel");
                }
                if (profitDownLine == undefined || profitDownLine == "") {
                    removeMsg("profitDownLineLabel");
                    appendMsg("profitDownLineLabel", "区间下限不能为空!");
                    window.location.hash = "#profitDownLineLabel";
                    return;
                } else {
                    removeMsg("profitDownLineLabel");
                }
                if (profitPercent == undefined || profitPercent == "") {
                    removeMsg("profitPercentLabel");
                    appendMsg("profitPercentLabel", "分成比例不能为空!");
                    window.location.hash = "#profitPercentLabel";
                    return;
                } else {
                    removeMsg("profitPercentLabel");
                }

                var patrn = /^[0-9]*$/;
                if (!patrn.test(profitHighLine)) {
                    removeMsg("profitHighLineLabel");
                    appendMsg("profitHighLineLabel", "格式不正确!");
                    window.location.hash = "#profitHighLineLabel";
                    return;
                } else {
                    removeMsg("profitHighLineLabel");
                }

                if (!patrn.test(profitDownLine)) {
                    removeMsg("profitDownLineLabel");
                    appendMsg("profitDownLineLabel", "格式不正确!");
                    window.location.hash = "#profitDownLineLabel";
                    return;
                } else {
                    removeMsg("profitDownLineLabel");
                }

                if (profitHighLine < profitDownLine) {
                    removeMsg("profitDownLineLabel");
                    appendMsg("profitDownLineLabel", "上限必须大于等于下限!");
                    window.location.hash = "#profitDownLineLabel";
                    return;
                } else {
                    removeMsg("profitDownLineLabel");
                }

                var percent = /^(\d|[1-9]\d|100)(\.\d{1,2})?$/;
                if (!percent.test(profitPercent)) {
                    removeMsg("profitPercentLabel");
                    appendMsg("profitPercentLabel", "0-100(小数点后两位小数)!");
                    window.location.hash = "#profitPercentLabel";
                    return;
                } else {
                    removeMsg("profitPercentLabel");
                }

                $.post("/profit/addOrEdit", $("#profitForm").serialize(), function (data) {
                    if (data != null && data.success) {
                        dialogAlert("提示", "添加成功！", function () {
                            parent.location.href = "/profit/listPage";
                        });
                    } else if (data.msg == "nologin") {
                        dialogConfirm("提示", "请先登录！", function () {
                            parent.location.href = "/login";
                        });
                    } else {
                        dialogConfirm("提示", data.msg);
                    }
                });
            });
        })
    });
</script>
<body>
<form action="" id="profitForm">
    <div class="main-publish tag-add">
        <table width="100%" class="form-table">
            <tr>
                <td width="28%" class="td-title">区间上限：</td>
                <td class="td-input" th:id="profitHighLineLabel">
                    <input type="text" th:value="${profit.profitHighLine }" th:id="profitHighLine"
                           name="profitHighLine" class="input-text w220"/>
                </td>
            </tr>
            <tr>
                <td width="28%" class="td-title">区间下限：</td>
                <td class="td-input" th:id="profitDownLineLabel">
                    <input type="text" th:value="${profit.profitDownLine }" th:id="profitDownLine"
                           name="profitDownLine" class="input-text w220" maxlength="20"/>
                </td>
            </tr>
            <tr>
                <td width="28%" class="td-title">分成比例：</td>
                <td class="td-input" th:id="profitPercentLabel">
                    <input type="text" th:value="${profit.profitPercent }" th:id="profitPercent" name="profitPercent"
                           class="input-text w220" maxlength="20"/>
                </td>
            </tr>
            <tr>
                <td class="td-btn" align="center" colspan="2">
                    <input type="hidden" th:value="${profit.profitId}" th:name="profitId">
                    <input class="btn-save" type="button" value="保存"/>
                </td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>