<div class="pageheader" style="margin-left: 15px;">
    <h2><i class="fa fa-thumb-tack" style="line-height: 48px;padding-left: 1px;"></i> 比赛设置 <span>// Setting...</span></h2>
</div>
<section class="tile color transparent-black">
    <!-- tile header -->
    <div class="tile-header">
        <div class="controls">
            <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
            <a href="#" class="remove"><i class="fa fa-times"></i></a>
        </div>
    </div>
    <!-- /tile header -->

    <!-- tile body -->
    <div class="tile-body nopadding">

        <table class="table table-bordered table-sortable">
            <thead>
            <tr>
                <th >桌号</th>
                <th rowspan="2">First Name</th>
                <th class="sortable sort-alpha">Last Name</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="checkbox check-transparent">
                    </div>
                </td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><a href="#" class="check-toggler checked"></a></td>
            </tr>
            <tr>
                <td>
                    <div class="checkbox check-transparent">
                    </div>
                </td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td><a href="#" class="check-toggler"></a></td>
            </tr>
            <tr>
                <td>
                    <div class="checkbox check-transparent">
                    </div>
                </td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td><a href="#" class="check-toggler checked"></a></td>
            </tr>
            </tbody>
        </table>

    </div>
    <!-- /tile body -->


    <!-- tile footer -->
    <div class="tile-footer bg-transparent-black-2 rounded-bottom-corners">
    </div>
    <!-- /tile footer -->




</section>