<html xmlns:th="http://www.thymeleaf.org">
<style>
    html {
        overflow: unset !important;
        height: auto !important;
    }

    body {
        width: 100%;
        font-family: PingFangSC-Regular, Helvetica, Arial, Microsoft Yahei, sans-serif !important;
    }

    .no-left-border {
        border-left: 0 !important;
    }

    table td {
        vertical-align: middle !important;
        text-align: center;
        font-size: 23px;
        font-weight: bolder;
        color: #ffffff;
    }

    .head-title {
        font-size: 20px;
    }
</style>
<!-- tile -->
<section class="tile color transparent-black">

    <!-- tile body -->
    <div class="tile-body">

        <div id="myCarouselSeat" class="carousel slide" style="width: 100%;" data-ride="carousel">
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner" style="margin-top: 30px;">
                <div class="item" th:class="'item '+${dStat.index == 0 ? ' active':''}" th:each="d,dStat : ${dataResult}">
                    <div class="screen-item">
                        <table class="table table-bordered" style="border-right: 1px solid rgba(255, 255, 255, 0.1);">
                            <tr>
                                <td class="head-title" colspan="12">
                                    <div style="margin-top:10px; font-size: 30px" th:text="${matchName}"></div>
                                    <div style="font-size:25px; margin:10px;" th:text="'第'+${turnNumChines}+'轮 座位表'"></div>
                                </td>
                            </tr>

                            <tr>
                                <td width="8%" class="color-1">桌号</td>
                                <td width="5%" class="vs">编号</td>
                                <td width="15%" class="vs">单位名称</td>
                                <td class="color-2">东</td>
                                <td width="5%" class="color-2 no-left-border"></td>
                                <td class="color-2 no-left-border">西</td>
                                <td width="5%" class="vs"></td>
                                <td width="5%" class="vs">编号</td>
                                <td width="15%" class="vs">单位名称</td>
                                <td class="color-3">南</td>
                                <td width="5%" class="color-3 no-left-border"></td>
                                <td class="color-3 no-left-border">北</td>
                            </tr>

                            <tr th:each="data:${d}">
                                <td th:text="${data.tableNumber}+'号桌'"></td>
                                <td th:text="${data.teamOneNum}"></td>
                                <td th:text="${data.teamOneExt}"></td>
                                <td th:text="${data.teamOneUserOneName}"></td>
                                <td>搭</td>
                                <td th:text="${data.teamOneUserTwoName}"></td>
                                <td>VS</td>
                                <td th:text="${data.teamTwoNum}"></td>
                                <td th:text="${data.teamTwoExt}"></td>
                                <td th:text="${data.teamTwoUserOneName}"></td>
                                <td>搭</td>
                                <td th:text="${data.teamTwoUserTwoName}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#myCarouselSeat" th:each="d,dStat : ${dataResult}" th:data-slide-to="${dStat.index}"
                    th:class="${dStat.index == 0 ? ' active':''}"></li>
            </ol>
        </div>

        <table id="pShow" class="table table-bordered hide" style="border-right: 1px solid rgba(255, 255, 255, 0.1);">
            <tr>
                <td class="head-title" colspan="12">
                    <div style="margin-top:10px; font-size: 30px" th:text="${matchName}"></div>
                    <div style="font-size:25px; margin:10px;" th:text="'第'+${turnNumChines}+'轮 座位表'"></div>
                </td>
            </tr>

            <tr>
                <td width="8%" class="color-1">桌号</td>
                <td width="5%" class="vs">编号</td>
                <td width="15%" class="vs">单位名称</td>
                <td class="color-2">东</td>
                <td width="5%" class="color-2 no-left-border"></td>
                <td class="color-2 no-left-border">西</td>
                <td width="5%" class="vs"></td>
                <td width="5%" class="vs">编号</td>
                <td width="15%" class="vs">单位名称</td>
                <td class="color-3">南</td>
                <td width="5%" class="color-3 no-left-border"></td>
                <td class="color-3 no-left-border">北</td>
            </tr>

            <tr th:each="data:${dataList}">
                <td th:text="${data.tableNumber}+'号桌'"></td>
                <td th:text="${data.teamOneNum}"></td>
                <td th:text="${data.teamOneExt}"></td>
                <td th:text="${data.teamOneUserOneName}"></td>
                <td>搭</td>
                <td th:text="${data.teamOneUserTwoName}"></td>
                <td>VS</td>
                <td th:text="${data.teamTwoNum}"></td>
                <td th:text="${data.teamTwoExt}"></td>
                <td th:text="${data.teamTwoUserOneName}"></td>
                <td>搭</td>
                <td th:text="${data.teamTwoUserTwoName}"></td>
            </tr>
        </table>

    </div>
    <!-- /tile body -->

    <div style="text-align:center;">
        <button type="button" id="print" class="btn btn-green margin-bottom-20">打印座位表</button>
    </div>

</section>
<script th:inline="javascript">
    /* <![CDATA[ */
    $(function () {
        $('#myCarouselSeat').carousel({
            interval: [[${interval}]]
        });

        $("#print").click(function () {
            $('#myCarouselSeat').addClass("hide");
            $("#bottom-info").addClass("hide");
            $("#pShow").removeClass("hide");
            $(this).addClass("hide");
            hideNav();
            window.print();
            showNav();
            $(this).removeClass("hide");
            $("#bottom-info").removeClass("hide");
            $('#myCarouselSeat').removeClass("hide");
            $("#pShow").addClass("hide");
        });
    });
    /* ]]> */
</script>
</html>

