<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录</title>
    <!--通用页面-->
    <div th:replace="admin/common/commonPage :: html"></div>
    <script type="text/javascript" th:src="@{${#httpServletRequest.getContextPath()} + '/js/placeholder.js'}"></script>
</head>
<body>
<div class="login-top">
    <div class="logo" style="width: 600px;">
        <img src="" alt=""/>
        <span style="font-size: 22px;color:#fff;">登录</span>
    </div>
</div>

<div class="login-box" ms-important="dataForm">
    <div class="user name">
        <label class="txt"></label><input id="userAccount" type="text" class="userInput" placeholder="用户名"/>
    </div>
    <div class="user pwd">
        <label class="txt"></label><input type="password" id="userPassword" class="userInput" placeholder="密码"/>
    </div>
    <div class="msg-error" id="errorLabel" style="display: none"></div>
    <div class="user login-btn" onclick="userLogin()">
        <input type="button" class="login-submit" value="登录"/>
    </div>
</div>
<style>
    .userInput {
        box-sizing: content-box !important;
    }
</style>
<script th:inline="javascript">
    fixPlaceholder();
    $(document).keydown(function (e) {
        if (e.which == 13) {
            userLogin();
            return false;
        }
        return true;
    });

    function userLogin() {
        var userAccount = $("#userAccount").val();
        var userPassword = $("#userPassword").val();
        if (!userAccount || userAccount == "用户名") {
            $("#errorLabel").html("请输入用户名!");
            $("#errorLabel").show();
            $("#userAccount").focus();
            return;
        }
        if (!userPassword) {
            $("#errorLabel").html("请输入密码!");
            $("#errorLabel").show();
            $("#userPassword").focus();
            return;
        }
        var asm = new Date().getTime();
        $.post("/loginCheckSysUser?asm=" + asm, {
            userAccount: $("#userAccount").val(),
            userPassword: $("#userPassword").val()
        }, function (data) {
            if (data.success) {
                window.location.href = "/right";
            } else {
                $("#errorLabel").html(data.msg);
                $("#errorLabel").show();
                $("#userPassword").focus();
            }
        });
    }

    //执行页面跳转时，如果当前页面包含在frameset中，则跳出至浏览器窗口
    if (window != top){
        top.location.href = "/login";
    }
</script>
</body>
</html>
